<div class="footer">
  <div class="footer-col">
    <div class="footer-row">
     <p>
       The Neurohackademy is a two-week course in neuroimaging and data science.
       No credit or certification is offered to participants.
       </p>
     </div>
    <div class="footer-row">
      <img src="{{site.baseurl}}/{{site.imgpath}}/escience-logo.png"
           alt="The eScience Institute logo"
           height="76px"
           style="margin: 10px 20px"/>
      <img src="{{site.baseurl}}/{{site.imgpath}}/NIH-NIMH-logo.svg"
           alt="The National Institute of Mental Health logo"
           class="logo-nimh"
           height="76px"
           style="margin: 10px 20px"/>
      </div>
  </div>
